@font-face {
    font-family: 'Arima Madurai';
    src: ~'url(arimamadurai-black-webfont.eot)';
    src: ~'url(../fonts/arimamadurai-black-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/arimamadurai-black-webfont.woff2)' format('woff2'),
         ~'url(../fonts/arimamadurai-black-webfont.woff)' format('woff'),
         ~'url(../fonts/arimamadurai-black-webfont.ttf)' format('truetype'),
         ~'url(../fonts/arimamadurai-black-webfont.svg#arima_maduraiblack)' format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Arima Madurai';
    src: ~'url(../fonts/arimamadurai-bold-webfont.eot)';
    src: ~'url(../fonts/arimamadurai-bold-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/arimamadurai-bold-webfont.woff2)' format('woff2'),
         ~'url(../fonts/arimamadurai-bold-webfont.woff)' format('woff'),
         ~'url(../fonts/arimamadurai-bold-webfont.ttf)' format('truetype'),
         ~'url(../fonts/arimamadurai-bold-webfont.svg#arima_maduraibold)' format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Arima Madurai';
    src: ~'url(../fonts/arimamadurai-extrabold-webfont.eot)';
    src: ~'url(../fonts/arimamadurai-extrabold-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/arimamadurai-extrabold-webfont.woff2)' format('woff2'),
         ~'url(../fonts/arimamadurai-extrabold-webfont.woff)' format('woff'),
         ~'url(../fonts/arimamadurai-extrabold-webfont.ttf)' format('truetype'),
         ~'url(../fonts/arimamadurai-extrabold-webfont.svg#arima_maduraiextrabold)' format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Arima Madurai';
    src: ~'url(../fonts/arimamadurai-extralight-webfont.eot)';
    src: ~'url(../fonts/arimamadurai-extralight-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/arimamadurai-extralight-webfont.woff2)' format('woff2'),
         ~'url(../fonts/arimamadurai-extralight-webfont.woff)' format('woff'),
         ~'url(../fonts/arimamadurai-extralight-webfont.ttf)' format('truetype'),
         ~'url(../fonts/arimamadurai-extralight-webfont.svg#arima_maduraiextralight)' format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: 'Arima Madurai';
    src: ~'url(../fonts/arimamadurai-light-webfont.eot)';
    src: ~'url(../fonts/arimamadurai-light-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/arimamadurai-light-webfont.woff2)' format('woff2'),
         ~'url(../fonts/arimamadurai-light-webfont.woff)' format('woff'),
         ~'url(../fonts/arimamadurai-light-webfont.ttf)' format('truetype'),
         ~'url(../fonts/arimamadurai-light-webfont.svg#arima_madurailight)' format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Arima Madurai';
    src: ~'url(../fonts/arimamadurai-medium-webfont.eot)';
    src: ~'url(../fonts/arimamadurai-medium-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/arimamadurai-medium-webfont.woff2)' format('woff2'),
         ~'url(../fonts/arimamadurai-medium-webfont.woff)' format('woff'),
         ~'url(../fonts/arimamadurai-medium-webfont.ttf)' format('truetype'),
         ~'url(../fonts/arimamadurai-medium-webfont.svg#arima_maduraimedium)' format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arima Madurai';
    src: ~'url(../fonts/arimamadurai-regular-webfont.eot)';
    src: ~'url(../fonts/arimamadurai-regular-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/arimamadurai-regular-webfont.woff2)' format('woff2'),
         ~'url(../fonts/arimamadurai-regular-webfont.woff)' format('woff'),
         ~'url(../fonts/arimamadurai-regular-webfont.ttf)' format('truetype'),
         ~'url(../fonts/arimamadurai-regular-webfont.svg#arima_madurairegular)' format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arima Madurai';
    src: ~'url(../fonts/arimamadurai-thin-webfont.eot)';
    src: ~'url(../fonts/arimamadurai-thin-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/arimamadurai-thin-webfont.woff2)' format('woff2'),
         ~'url(../fonts/arimamadurai-thin-webfont.woff)' format('woff'),
         ~'url(../fonts/arimamadurai-thin-webfont.ttf)' format('truetype'),
         ~'url(../fonts/arimamadurai-thin-webfont.svg#arima_maduraithin)' format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: ~'url(../fonts/averta_bold_italic-webfont.eot)';
    src: ~'url(../fonts/averta_bold_italic-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/averta_bold_italic-webfont.woff2)' format('woff2'),
         ~'url(../fonts/averta_bold_italic-webfont.woff)' format('woff'),
         ~'url(../fonts/averta_bold_italic-webfont.ttf)' format('truetype'),
         ~'url(../fonts/averta_bold_italic-webfont.svg#avertabold_italic)' format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: ~'url(../fonts/averta_extrabold_italic-webfont.eot)';
    src: ~'url(../fonts/averta_extrabold_italic-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/averta_extrabold_italic-webfont.woff2)' format('woff2'),
         ~'url(../fonts/averta_extrabold_italic-webfont.woff)' format('woff'),
         ~'url(../fonts/averta_extrabold_italic-webfont.ttf)' format('truetype'),
         ~'url(../fonts/averta_extrabold_italic-webfont.svg#avertaextrabold_italic)' format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: ~'url(../fonts/averta_light_italic-webfont.eot)';
    src: ~'url(../fonts/averta_light_italic-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/averta_light_italic-webfont.woff2)' format('woff2'),
         ~'url(../fonts/averta_light_italic-webfont.woff)' format('woff'),
         ~'url(../fonts/averta_light_italic-webfont.ttf)' format('truetype'),
         ~'url(../fonts/averta_light_italic-webfont.svg#avertalight_italic)' format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: ~'url(../fonts/averta_light-webfont.eot)';
    src: ~'url(../fonts/averta_light-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/averta_light-webfont.woff2)' format('woff2'),
         ~'url(../fonts/averta_light-webfont.woff)' format('woff'),
         ~'url(../fonts/averta_light-webfont.ttf)' format('truetype'),
         ~'url(../fonts/averta_light-webfont.svg#avertalight)' format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: ~'url(../fonts/averta_semibold_italic-webfont.eot)';
    src: ~'url(../fonts/averta_semibold_italic-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/averta_semibold_italic-webfont.woff2)' format('woff2'),
         ~'url(../fonts/averta_semibold_italic-webfont.woff)' format('woff'),
         ~'url(../fonts/averta_semibold_italic-webfont.ttf)' format('truetype'),
         ~'url(../fonts/averta_semibold_italic-webfont.svg#avertasemibold_italic)' format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: ~'url(../fonts/averta_semibold-webfont.eot)';
    src: ~'url(../fonts/averta_semibold-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/averta_semibold-webfont.woff2)' format('woff2'),
         ~'url(../fonts/averta_semibold-webfont.woff)' format('woff'),
         ~'url(../fonts/averta_semibold-webfont.ttf)' format('truetype'),
         ~'url(../fonts/averta_semibold-webfont.svg#avertasemibold)' format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: ~'url(../fonts/averta-webfont.eot)';
    src: ~'url(../fonts/averta-webfont.eot?#iefix)' format('embedded-opentype'),
         ~'url(../fonts/averta-webfont.woff2)' format('woff2'),
         ~'url(../fonts/averta-webfont.woff)' format('woff'),
         ~'url(../fonts/averta-webfont.ttf)' format('truetype'),
         ~'url(../fonts/averta-webfont.svg#avertaregular)' format('svg');
    font-weight: 400;
    font-style: normal;
}