@import ~'@{dir}normalize';
@import ~'@{dir}mixins';
@import ~'@{dir}fonts';
@import ~'@{dir}base';

@pxd: 126rem;
@pxm: 32rem;

@red: #ef0303;
@blue: #1b4e9b;
@font2: 'Arima Madurai';

a {
  color: @blue;
}

html {
  color: #07367c;
}

body {
  font-size: 16pxd;
  font-family: 'Averta';
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav {
  position: absolute;
  right: 0;
  right: 48pxd;
  top: 24pxd;
  li {
    font-size: 0;
    display: inline-block;
    margin: 0 0 0 30pxd;
  }
  a {
    line-height: 36pxd;
    color: #fff;
    display: block;
    letter-spacing: 0.1em * 0.9;
    text-decoration: none;
    font-size: 18pxd * 0.9;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 0;
      background: #fff;
      bottom: 0;
      height: 1px;
      left: 0;
      transition: width 150ms ease-in-out;
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
  li.active a:after {
      width: 100%;
  }
}

.hero {
  .background-cover;
  font-family: @font2;
  height: 402pxd;
  position: relative;
  &:after,
  &:before {
    height: 149pxd;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .35;
    content: '';
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
  &:after {
    transform: rotate(180deg);
    top: auto;
    bottom: 0;
  }
  > div,
  > h1 {
    transition: height 1000s ease-in-out;
    z-index: 1;
    font-size: 54pxd;
    height: 402pxd;
    font-weight: 500;
    width: 100vw;
    display: table-cell;
    letter-spacing: 0.1em;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    position: relative;
  }
  &.big {
    height: 100vh;
    transition: height 1000s ease-in-out;
    background-position: center bottom;
    > div,
    > h1 {
      height: 100vh;
    }
  }
  > i {
    .sheet;
    .background-cover;
    z-index: -1;
  }
}

.logo {
  //.image('akvile.svg');
  .background-contain;
  position: absolute;
  left: 50pxd;
  top: 24pxd;
  width: 108pxd;
  height: 30pxd;
  svg {
    width: 108pxd;
    height: 30pxd;
  }
}

.h2 {
  font-size: 40pxd * 0.95;
  line-height: 60pxd * 0.95;
  font-family: @font2;
  letter-spacing: 0.075em;
  text-align: center;
  color: @blue;
  font-weight: 500;
  &.small {
    font-size: 24pxd;
    line-height: 36/24;
    max-width: 720pxd;
    margin-left: auto;
    margin-right: auto;
  }
}

.h2,
h2 {
  position: relative;
  span {
    position: relative;
  }
}

.space-140 {
  height: 140pxd;
}

.drop {
  .image('drop.svg');
  background-size: 98% auto;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(0,0,0);
  margin-top: -64pxd;//-74pxd;
  margin-left: 72pxd/-2;
  width: 72pxd;
  height: 113pxd;
  animation: bounce 0.6s infinite alternate;
  -webkit-animation: bounce 0.6s infinite alternate;
  svg {
    transition: fill 750ms ease-in-out;
    width: 72pxd;
    height: 113pxd;
    fill: #fff;
    pointer-events: none;
  }
}

.relative {
  display: block;
  z-index: 1;
  position: relative;
  span {
    position: relative;
  }
  .drop {
    margin-top: -59pxd;
  }
}

.intro-drop {
  //width: 72pxd;
  //height: 113pxd;
  transition: transform 750ms ease-in-out;
  margin: 0 auto;
  z-index: 10;
  cursor: pointer;
  transform: translate3d(0,-140pxd,0) scale(38/72);
  i {
    background: transparent;
  }
}

.intro-scrolled {
  .intro-drop {
    transform: translate3d(0,20pxd,0);
    i {
      svg {
        fill: #e5effe;
      }
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.layer {
  padding: 90pxd 0;
  position: relative;
}

.scene-wrap {
  position: absolute;
  width: 100%;
}

.scene-wrap-1 {
  margin-top: 340pxd;
}

.scene-wrap-2 {
  margin-top: 220pxd;
  z-index: 3;
}

.scene-wrap-3 {
  margin-top: 600pxd;
}

.scene-wrap-4 {
  margin-top: 1500pxd;
}

.scene-wrap-5 {
  margin-top: 2200pxd;
}

.scene-wrap-6 {
  margin-top: 400pxd;
}

.scene-wrap-7 {
  margin-top: 655pxd;
  left: 360pxd;
  transform: rotate(180deg);
}

.scene-wrap-8 {
  margin-top: 687pxd;
  left: 850pxd;
  transform: rotate(180deg);
}

.scene-wrap-9 {
  margin-top: 150pxd;
  width: 110vw;
}

.scene-wrap-10 {
  margin-top: 180pxd;
  width: 110vw;
}

.scene-wrap-11 {
  margin-top: 1300pxd;
  width: 110vw;
}

.scene-wrap-12 {
  margin-top: 2300pxd;
  width: 110vw;
}

.scene-wrap-13 {
  margin-top: -260pxd;
  width: 110vw;
  left: -5vw;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.scene-wrap-14 {
  margin-top: 340pxd;
  width: 110vw;
  left: -5vw;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}




.wrap {
  width: 1060pxd;
  margin: 0 auto;
}

.layer-intro {
  height: 827pxd;
  z-index: 1;
  .circle {
    top: 264pxd;
    right: 224pxd;
  }
}

.bubble {
  width: 126pxd;
  height: 126pxd;
  border-radius: 50%;
  border: 1px solid #d1dceb;
  position: absolute;
  span {
    position: absolute;
    font-size: 18pxd;
    text-align: center;
    bottom: 20pxd;
    width: 100%;
    color: #fff;
  }
  &:before {
    width: 114pxd;
    height: 114pxd;
    left: 50%;
    top: 50%;
    position: absolute;
    content: '';
    border-radius: 50%;
    transform: translate(-50%,-50%) rotate(-125deg);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20539e+0,4e79ba+100 */
    background: rgb(32,83,158); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(32,83,158,1) 0%, rgba(78,121,186,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(32,83,158,1) 0%,rgba(78,121,186,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(32,83,158,1) 0%,rgba(78,121,186,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20539e', endColorstr='#4e79ba',GradientType=0 ); /* IE6-9 */
  }
  &:after {
    .sheet;
    content: '';
    background-repeat: no-repeat;
    background-position: center 47%;
  }
}

.bubble-1 {
  top: 248pxd;
  left: 357pxd;
  &:after {
    .image('heart.svg');
    background-size: 32pxd auto;
  }
}

.bubble-2 {
  top: 407pxd;
  left: 217pxd;
  &:after {
    .image('milk.png');
    background-size: auto 52pxd;
    background-position: center 42pxd;
  }
}

.bubble-3 {
  top: 546pxd;
  left: 376pxd;
  &:after {
    content: '0';
    text-align: center;
    color: #fff;
    font-size: 66pxd;
    font-weight: 700;
    line-height: 136pxd;
  }
}

.text {
  position: absolute;
  letter-spacing: 0.1em;
  font-size: 70pxd;
  text-align: center;
  width: 60pxd;
  height: 60pxd;
  position: absolute;
  left: 50%;
  top: 6pxd;
  margin-left: -30pxd;
}

.circle {
  width: 406pxd;
  height: 406pxd;
  border: 1px solid #d1dceb;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  .play {
    z-index: 4;
    transition: opacity 150ms ease-in-out;
    display: none;
  }
  .sh {
    border-radius: 50%;
  }
  > div {
    .background-cover;
    border-radius: 50%;
    position: absolute;
    width: 390pxd;
    height: 390pxd;
    left: 50%;
    top: 50%;
    margin-top: -195pxd;
    overflow: hidden;
    margin-left: -195pxd;
    > div {
      z-index: 1 !important;
      border-radius: 50% !important;
      overflow: hidden !important;
      position: absolute !important;
    }
    i {
      .sheet;
      .background-cover;
      z-index: 2;
      transition: opacity 150ms ease-in-out;
      border-radius: 50%;
      overflow: hidden;
    }
    img {
      top: -48pxd;
      width: 126pxd;
      height: auto;
      position: absolute;
      left: 50%;
      margin-left: 126pxd/-2;
      //transform: translate(-50%,-50%) !important;
    }
    &.enter {
      i {
        opacity: 0;
      }
    }
  }
  &.small {
    width: 232pxd;
    height: 232pxd;
    z-index: 3;
    //border-radius: 232pxd/2;
    > div {
      width: 218pxd;
      height: 218pxd;
      margin-top: -109pxd;
      margin-left: -109pxd;
      > div {
        //width: 218pxd !important;
        //height: 218pxd !important;
        transform: translate3d(0, 0, 0) !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
      }
    }
  }
  &.big {
    width: 516pxd;
    height: 516pxd;
    > div {
      width: 516pxd - 16pxd;
      height: 516pxd - 16pxd;
      margin-top: -(516pxd - 16pxd) / 2;
      margin-left: -(516pxd - 16pxd) / 2;
    }
  }
}

.link-holder {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 72pxd;
  text-align: center;
}

.link {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  font-size: 14pxd;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  &:after {
    .image('arrow.png');
    transition: transform 150ms ease-in-out;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 38pxd auto;
    position: absolute;
    left: 100%;
    content: '';
    width: 64pxd;
    height: 100%;
    transform: translate3d(-9pxd,0,0);
  }
  &:hover {
    &:after {
      transform: translate3d(0,0,0);
    }
  }
  &.back {
    &:after {
      left: auto;
      right: 100%;
      transform: translate3d(9pxd,0,0) rotate(180deg);
    }
    &:hover {
      &:after {
        transform: translate3d(0,0,0) rotate(180deg);
      }
    }
  }
}



.layer-about {
  padding-bottom: 134pxd;
  .circle-1 {
    top: 222pxd;
    left: 127pxd;
  }
  .circle-2 {
    top: 222pxd + 164pxd;
    left: 400pxd;
  }
  .circle-21 {
    top: 222pxd + 165pxd;
    left: 400pxd;
  }
  .circle-3 {
    top: 222pxd + 312pxd;
    left: 100pxd;
  }
}

.about {
  margin: 120pxd 0 0 620pxd;
  font-weight: 300;
  line-height: 28 / 16;
  .link {
    margin-top: 30pxd;
  }
  p {
    margin: 0 0 28 / 16em 0;
  }
}

.layer-care {
  .post {
    margin-top: 60pxd;
  }
}

.post {
  margin: 0 70pxd 6pxd 45pxd;
  position: relative;
  .circle {
    z-index: 1;
  }
  .short {
    height: 516pxd;
    width: 1060pxd - 70pxd - 45pxd;
    display: table-cell;
    vertical-align: middle;
    //padding-left: 563pxd;
    padding-left: 516pxd / 2;
    .in {
      position: relative;
      padding: 72pxd 48pxd 72pxd 563pxd - 516pxd / 2;
      background: #e5effe;
    }
  }
  h3 {
    font-size: 24pxd;
    line-height: 36/24;
    font-family: @font2;
    margin: 0 0 18pxd 0;
  }
  .link {
    margin-left: -64pxd / 2;
  }
  .link-holder {
    margin: 0;
    left: 0;
  }
  p {
    line-height: 30 / 16;
    margin: 0;
  }
  &:nth-child(even) {
    .circle {
      right: 0;
    }
    .short {
      padding: 0 516pxd / 2 0 0;
      .in {
        padding: 72pxd 563pxd - 516pxd / 2 72pxd 48pxd;
      }
    }
  }
  &.post-green {
    .in {
      background: #dbe8db;
    }
  }
  &.post-orange {
    .in {
      background: #f9e9d1;
    }
  }
}

.sh {
  .sheet;
  z-index: 1;
}

.link-more {
  padding: 42pxd 0 90pxd 0;
  text-align: center;
  .link {
    margin-left: -64pxd/2;
  }
}

.layer-taking {
  padding: 30pxd 0 150pxd 0;
  min-height: 710pxd;
  z-index: 3;
  .circle-1 {
    top: 128pxd;
    left: 100pxd;
  }
  .circle-2 {
    top: 318pxd;
    left: 360pxd;
  }
}

.layer-water {
  min-height: 740pxd;
  z-index: 2;
  .circle-1 {
    top: 238pxd;
    left: 224pxd;
  }
  .circle-2 {
    top: 458pxd;
    left: 100pxd;
  }
}

.centered {
  width: 686pxd;
  margin: 0 auto;
}

.play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 96pxd;
  height: 96pxd;
  z-index: 2;
  border-radius: 50%;
  margin-left: 96pxd / -2;
  margin-top: 96pxd / -2;
  border: 1px solid #fff;
  cursor: pointer;
  transition: background 150ms ease-in-out;
  &:hover {
    background: rgba(255,255,255,.2);
  }
  &:after {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 16pxd solid transparent;
    border-bottom: 16pxd solid transparent;
    border-left: 24pxd solid #fff;
    left: 50%;
    top: 50%;
    margin-left: 24pxd / -2 + 4pxd;
    margin-top: 16pxd / -1;
  }
}

.video-container {
  .sheet;
  background-color: #fff;
  > div {
    z-index: 0 !important;
    video {
      z-index: 0 !important;
    }
  }
}

.video {
  margin: 72pxd auto;
  padding: 10pxd;
  border: 1px solid #e5effe;
  background: #fff;
  width: 926pxd + 10pxd + 10pxd + 2pxd;
  iframe,
  #youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .in {
    position: relative;
    height: 520pxd;
  }
  i {
    .sheet;
    .background-cover;
    z-index: 1;
    transition: opacity 150ms ease-in-out;
  }
  &.playing {
    .play,
    i {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.schema {
  width: 652pxd;
  height: 423pxd;
  margin: 0 auto 156pxd auto;
  position: relative;
  &:before {
    content: '';
    .sheet;
    z-index: 2;
    background: #fff;
    top: -300pxd;
  }
  i {
    .image('schema-blank.svg');
    .background-contain;
    .sheet;
    z-index: 2;
  }
}

.schema-circle {
  display: none;
  //opacity: .5;
  width: 538pxd;
  height: 538pxd;
  position: absolute;
  bottom: 40pxd;
  left: 50%;
  margin-left: 538pxd/-2;
  transform: rotate(167.5deg);
  //
  b {
    right: -5pxd;
    top: 50%;
    margin-top: 1pxd;
    transform: rotate(-45deg);
    width: 10pxd;
    height: 10pxd;
    position: absolute;
    z-index: 2;
    border-top: 1px solid #009ee2;
    border-right: 1px solid #009ee2;
  }
}
.schema-circle-main {
  display: block;
  &:after {
    content: '';
    z-index: 1;
    background: #fff;
    left: -1%;
    bottom: 50%;
    width: 102%;
    height: 100%;
    position: absolute;
  }
  &:before {
    .sheet;
    border-radius: 50%;
    content: '';
    border: 1px solid #009ee2;
  }
}
.schema-circle-1 {
//  transform: ~'rotate(152.8deg)';
  transform: ~'rotate(153.05deg)';
}
.schema-circle-2 {
  transform: ~'rotate(102.6deg)';
//  transform: ~'rotate(102.4deg)';
}
.schema-circle-3 {
  transform: ~'rotate(53.1deg)';
//  transform: ~'rotate(52.9deg)';
}
.schema-circle-4 {
  transform: ~'rotate(12.9deg)';
//  transform: ~'rotate(12.9deg)';
}

.txt {
  width: 280pxd;
  position: absolute;
  font-weight: 300;
  position: absolute;
  color: #009ee2;
  opacity: 0;
  line-height: 24 / 16;
}
.txt-1 {
  right: 681pxd;
  top: 88pxd;
  text-align: right;
  transform: translate3d(-36pxd,0,0);
}
.txt-2 {
  right: 622pxd;
  top: 274pxd;
  text-align: right;
  transform: translate3d(-36pxd,0,0);
}
.txt-3 {
  left: 50%;
  text-align: center;
  margin-left: -280pxd / 2;
  top: 444pxd;
  transform: translate3d(0,36pxd,0);
}
.txt-4 {
  left: 622pxd;
  top: 274pxd;
  transform: translate3d(36pxd,0,0);
}
.txt-5 {
  left: 681pxd;
  top: 88pxd;
  transform: translate3d(36pxd,0,0);
}

.link-back {
  text-align: center;
  margin: 0 0 48pxd 0;
}

.single {
  width: 680pxd;
  margin: 0 auto;
  font-weight: 300;
  h2 {
    font-size: 40pxd * 0.95;
    line-height: 60/40 * 0.95;
    font-family: @font2;
    letter-spacing: 0.075em * 0.95;
    text-align: center;
    color: @blue;
    font-weight: 500;
    font-size: 24pxd;
    line-height: 36/24;
    margin: 60pxd 0;
  }
}

.layer-single {
  padding-top: 112pxd;
  line-height: 28 / 16;
  p {
    margin: 0 0 28 / 16em 0;
  }
  .video {
    left: 50%;
    position: relative;
    margin-left: (926pxd + 10pxd + 10pxd + 2pxd) / -2;
  }
}

.row {
  .clear;
}

.gallery {
  margin: (60pxd - 24pxd) -(198pxd + 24pxd + 24pxd);
  .image {
    float: left;
    width: 50%;
    padding: 24pxd;
    i {
      .background-cover;
      display: block;
      padding-bottom: 336 / 502 * 100%;
    }
  }
}

form {
  width: 860pxd;
  margin: 60pxd auto 96pxd auto;
  .link {
    float: right;
    margin-right: 86pxd;
    margin-top: 12pxd;
  }
}

.input {
  padding: 0 30pxd;
  width: 50%;
  float: left;
  margin: 0 0 36pxd 0;
  position: relative;
  &.full {
    width: 100%;
  }
}

label {
  font-weight: 300;
  margin: 0 0 15pxd 0;
  display: block;
}

textarea,
input[type="text"],
input[type="email"] {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #2c5ca4;
  width: 100%;
  resize: none;
  height: 46pxd;
  font-weight: 300;
  color: #07367c;
  padding: 0;
  /*
  .placeholder({
    color: #07367c;
    transition: color 150ms ease-in-out;
  });
  &:focus {
    .placeholder({
      color: transparent
    });
  }
  */
  + label {
    position: absolute;
    top: 12pxd;
    transition: transform 200ms ease-in-out, color 200ms ease-in-out, opacity 200ms ease-in-out;
    pointer-events: none;
    
      transform: scale(1) translate3d(0,0,0);
      opacity: 1;
    //opacity: .5;
    //transform: scale(0.7) translate3d(-10pxd,-30pxd,0);
  }
  // not ampty
  &:focus {
    + label {
      opacity: .5;
      transform: scale(0.7) translate3d(-14pxd,-30pxd,0);
    }
  }
  
  /*
  &:blur,
  &:empty {
    + label {
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
  }*/
}

textarea:focus,
textarea:not([value=""]) {
  + label {
    opacity: .5;
    transform: scale(0.7) translate3d(-18pxd,-30pxd,0);
  }
}
input[type="text"]:not([value=""]),
input[type="email"]:not([value=""]) {
  + label {
    opacity: .5;
    transform: scale(0.7) translate3d(-14pxd,-30pxd,0);
  }
}

textarea {
  font-size: 14pxd;
  color: #5880bf;
  min-height: 34pxd;
  height: 66pxd;//34pxd;
  padding: 12pxd 0;//6pxd 0;
}

.phone {
  font-weight: 300;
  text-align: center;
  b {
    margin: 6pxd 0 0 0;
    font-family: @font2;
    font-size: 20pxd;
    font-weight: 500;
    display: block;
  }
}

.layer > .wrap > .h2 + p {
  font-weight: 300;
  max-width: 570pxd;
  text-align: center;
  line-height: 24 / 16;
  margin: 18pxd auto 0 auto;
}

.filters {
  text-align: center;
  font-size: 0;
  z-index: 5;
  position: relative;
}

.filter {
  display: inline-block;
  min-width: 88pxd;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  margin: 0 30pxd;
  &.big {
    min-width: 140pxd;
  }
  .current {
    padding-right: 22pxd;
    height: 34pxd;
    line-height: 34pxd;
    letter-spacing: 0.2em;
    font-size: 14pxd;
    cursor: pointer;
    border-bottom: 1px solid #2c5ca4;
    position: relative;
    transition: border 200ms ease-in-out;
    &:after {
      transition: transform 200ms ease-in-out, margin 200ms ease-in-out;
      transform: rotate(135deg);
      content: '';
      right: 1pxd;
      top: 50%;
      margin-top: -4pxd;
      position: absolute;
      width: 6pxd;
      height: 6pxd;
      border-top: 1px solid #07367c;
      border-right: 1px solid #07367c;
    }
  }
  .options {
    position: absolute;
    top: 100%;
    margin-top: -1px;
    width: 100%;
    //padding: 6pxd 0;
    background: #e5effe;
    opacity: 0;
    pointer-events: none;
    transform: translate3d(0,12pxd,0);
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    > div {
      transition: background 100ms ease-in-out, color 100ms ease-in-out;
      font-size: 14pxd;
      padding: 0 10pxd;
      letter-spacing: 0.2em;
      line-height: 30pxd;
      cursor: pointer;
      &:hover {
        background: #2c5ca4;
        color: #fff;
      }
    }
  }
  &.open {
    .current {
      border-color: transparent;
      &:after {
        transform: rotate(-45deg);
        margin-top: -1pxd;
      }
    }
    .options {
      pointer-events: all;
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
}

.layer-products {
  min-height: 810pxd;
  .circle {
    //top: 246pxd;
    //left: 160pxd;
    top: 0.95rem;
    left: 0.27rem;
  }
  .cols {
    .clear;
    border-bottom: 1px solid #2c5ca4;
    padding: 12pxd 0;
    margin: 24pxd 0 15pxd 0;
    .up {
      display: inline-block;
      width: 8pxd;
      margin: 0 0 0 2pxd;
      > div {
        position: absolute;
        font-size: 65%;
        height: 12pxd;
        bottom: 6pxd;
        &:first-child {
          top: 0;
          bottom: auto;
        }
      }
    }
    > div {
      > div {
        padding: 3pxd 60pxd 3pxd 0;
        position: relative;
        b {
          position: absolute;
          right: 0;
          top: 3pxd;
        }
      }
      &:last-child {
        //width: 240pxd;
        float: right;
      }
      &:first-child {
        //width: 160pxd;
        float: left;
      }
    }
  }
  .table {
    width: 506pxd;
    margin-right: 24pxd;
    float: right;
    font-size: 14pxd;
    line-height: 24/14;
    font-weight: 300;
    margin: 118pxd 0 90pxd;
    b {
      font-weight: 400;
    }
    p {
      margin: 0 0 24/14em 0;
    }
    h2 {
      font-size: 20pxd * 0.95;
      font-family: @font2;
    }
  }
}

.filter-targets {
  position: relative;
}

.filter-target {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
  transform: translate3d(0,1rem,0);
}

.filter-target.active {
  opacity: 1;
  pointer-events: all;
  transform: translate3d(0,0,0);
}

.tip {
  position: absolute;
  background: #e5effe;
  width: 300pxd;
  left: 50%;
  margin-left: -300pxd/2;
  font-size: 14pxd;
  line-height: 20/14;
  letter-spacing: 0.05em;
  top: 100%;
  margin-top: 12pxd;
  padding: 18pxd 26pxd;
  z-index: 1;
  opacity: 0;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  pointer-events: none;
  transform: translate3d(0,12pxd,0);
  &:before {
    content: '';
    width: 0; 
    height: 0; 
    left: 50%;
    margin-left: -8pxd;
    bottom: 100%;
    position: absolute;
    border-left: 8pxd solid transparent;
    border-right: 8pxd solid transparent;
    border-bottom: 12pxd solid #e5effe;
  }
}


.scene {
  position: absolute;
  pointer-events: none;
}

@keyframes rotateAnim {
  0% {
    transform: rotate3d(1, 0, 0, 0);
  }
  50%  {
    //transform: rotate3d(1, 0, 0, -41deg);
//    transform: rotate3d(10, 1, 0, 36deg) translate3d(1%,0,0);
    transform: rotate3d(10, 1, 0, 24deg) translate3d(1%,0,0);
  }
  100% {
    transform: rotate3d(1, 0, 0, 0);
  }
}

.circle-offcanvas > div {
  overflow: visible;
}

.layer-lines-1,
.layer-lines-2 {
  .image('lines.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation: rotateAnim 12s infinite;
  animation-timing-function: ease-in-out;
  width: 100%;
  height: 800pxd;
  position: absolute;
}
.layer-lines-3 {
  .image('lines.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation: rotateAnim 12s infinite;
  animation-timing-function: ease-in-out;
  width: 100%;
  height: 800pxd;
  position: absolute;
}

.layer-lines-4,
.layer-lines-5 {
  .image('lines.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation: rotateAnim 12s infinite;
  animation-timing-function: ease-in-out;
  width: 100%;
  height: 800pxd;
  position: absolute;
}

.scene-wrap-15 {
  width: 100vw;
  right: -24vw;
  //top: 420pxd;
  top: 3.36rem;
  transform: rotate(-6deg);
}

.scene-wrap-16 {
  width: 100vw;
  right: -9.5vw;
  top: 3.64rem;
  -moz-transform: scaleX(-1) scaleY(-1) rotate(18deg);
  -o-transform: scaleX(-1) scaleY(-1) rotate(18deg);
  -webkit-transform: scaleX(-1) scaleY(-1) rotate(18deg);
  transform: scaleX(-1) scaleY(-1) rotate(18deg);
}

.scene-wrap-17 {
  width: 128%;
  right: 5vw;
  top: 2.68rem;
  transform: rotate(-6deg) rotateX(-44deg) rotateZ(7deg);
}

.scene-wrap-18 {
  width: 100vw;
  right: -25.8vw;
  top: 2.71rem;
  transform: rotate(-6deg);
}

.scene-wrap-19 {
  width: 164%;
  right: -10.8vw;
  top: 4.08rem;
  transform: rotate(15deg) rotateY(-180deg) rotateX(-180deg);
}

.hooks {
  pointer-events: none;
  position: absolute;
  width: 60vw;
  height: 1000pxd;
  left: 0;
  overflow: hidden;
}

.hooks-production {
  pointer-events: none;
  position: absolute;
  width: 60vw;
  height: 1000pxd;
  overflow: hidden;
  left: -24vw;
}

#page {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bars {
  display: none;
}

body:not(.mobile-scrolled):not(.scrolled) .logo svg rect {
  fill: #fff !important;
}

.error-message {
  color: @red;
  top: 100%;
  margin: 8pxd 0 0 0;
  position: absolute;
  font-size: 12pxd;
  opacity: 0;
  transform: translate3d(0,9pxd,0);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  pointer-events: none;
}

.error {
  position: relative;
  input {
    border-color: @red;
    color: @red;
    //.placeholder({
    //  color: @red;
    //});
  }
  label {
    color: @red;
  }
  .error-message {
    opacity: 1;
    transform: translate3d(0,0,0);
    pointer-events: all;
  }
}

.header { 
  transition: background 200ms ease-in-out;
}


.scrolled .header {
  height: 84pxd;
  background: rgba(255,255,255,.8);
  nav a {
    color: @blue;
    &:after {
      background: @blue;
    }
  }
}


.fl-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 800pxd;
  margin-top: 80pxd;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210pxd;
    margin: 22pxd 17pxd;
    .h3 {
      font-size: 13pxd;
      font-weight: bold;
      letter-spacing: 0.1em;
      margin-bottom: 20pxd;
      font-family: @font2;
    }
  }
  .phone-mockup{
    width: 210pxd;
    height: 442pxd;
    border-radius: 25pxd;
    .image('phone.svg');
    .background-contain;
    background-color: white;
    box-shadow: 30pxd 30pxd 99pxd rgba(0, 0, 0, 0.15);
    position: relative;
    &__screen {
      width: 192pxd;
      height: 340pxd;
      border: 1px solid #e2e2e2;
      border-radius: 12pxd;
      position: relative;
      top: 44pxd;
      left: 50%;
      .translate3d(-50%,0,0);
      overflow: hidden;
    }
    &__image {
      .sheet;
      .background-cover;
    }
    &__cta {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 75pxd;
    }
    &__cta-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 148pxd;
      height: 38pxd;
      border-radius: 18pxd;
      background: #2c5ca4;
      font-weight: 600;
      font-size: 11pxd;
      letter-spacing: 0.1em;
      color: #fff;
      text-decoration: none;
      user-select: none;
      cursor: pointer;
      transition: background-color 150ms ease-in-out;
      &:hover{
        background-color: darken(#2c5ca4, 10%);
      }

    }

  }
}


@media (min-width: 768px) {
  .desktop-hide {
    display: none !important;
  }
  .mobile-show {
    display: none;
  }
  .bubble {
    &:hover {
      .tip {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
    }
  }
}

@media (max-width: 767px) {
  textarea,
  input[type="text"],
  input[type="email"] {
    background: transparent;
    + label {
      top: 12pxm;
      transform: scale(1) translate3d(0,0,0);
    }
    // not ampty
    &:focus {
      + label {
        transform: scale(0.7) translate3d(-12pxm,-26pxm,0);
      }
    }
  }
  textarea:focus,
  textarea:not([value=""]) {
    + label {
      transform: scale(0.7) translate3d(-18pxm,-26pxm,0);
    }
  }
  input[type="text"]:not([value=""]),
  input[type="email"]:not([value=""]) {
    + label {
      transform: scale(0.7) translate3d(-12pxm,-26pxm,0);
    }
  }
  textarea {
    padding: 18pxm 0;
  }
  
  
  .drop {
    width: 40pxm;
    height: 63pxm;
    margin-top: -34pxm;
    margin-left: 40pxm/-2;
    svg {
      width: 40pxm;
      height: 63pxm;
    }
  }
  .drop-up {
    top: -40pxm;
  }
  .layer-care {
    margin-top: 30pxm;
    .post {
      margin-top: 35pxm;
    }
  }
  .intro-scrolled {
    .intro-drop {
      transform: translate3d(0,20pxm,0);
    }
  }
  .intro-drop {
    transform: translate3d(0,-120pxm,0) scale(1);
  }
  .bubble.open {
    .tip {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
  #ooo {
    top: auto !important;
    bottom: 0 !important;
  }
  .bars {
    display: block;
    height: 54pxm;
    width: 62pxm;
    right: 0;
    top: 0;
    z-index: 1;
    position: absolute;
    svg {
      transition: fill 200ms ease-in-out;
      fill: #fff;
      width: 24pxm;
      height: 24pxm;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -12pxm 0 0 -12pxm;
      &:last-child {
        display: none;
      }
    }
  }
  .about {
    position: relative;
  }
  .mobile-lines {
    .image('mobile-lines.png');
    height: 445pxm/2;
    position: absolute;
    background-size: cover;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    &.alter {
      .image('mobile-lines-2.png');
      height: 845pxm/2;
    }
    &.third {
      .image('mobile-lines-3.png');
      height: 655pxm/2;
      margin-top: -146pxm/2;
    }
    &.big {
      .image('mobile-lines-big.png');
      height: 590pxm;
      margin-top: 50pxm;
    }
  }
  .mobile-lines-1 {
    margin-top: 90pxm;
  }
  .mobile-lines-2 {
    margin-top: 115pxm;
  }
  .mobile-lines-3,
  .mobile-lines-4 {
    margin-top: 260pxm/2;
  }
  .mobile-lines-5 {
    margin-top: 214pxm/2;
  }
  .mobile-lines-6 {
  }
  .minerals {
    .image('minerals.png');
    height: 724pxm/2;
    position: absolute;
    background-size: cover;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    margin-top: -110pxm;
  }
  .nav-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    min-height: 80vw;
    transition: transform 300ms ease-in-out;
    transform: translate3d(-100%,0,0);
    &:before,
    &:after {
      .sheet;
      content: '';
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
    &:before {
      .image('menu-bg-top.png');
      background-position: center top;
    }
    &:after {
      .image('menu-bg-bottom.png');
      background-position: center bottom;
    }
  }
  nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow: scroll;
    ul {
      width: 100vw;
      height: 100vh;
      vertical-align: middle;
      display: table-cell;
      top: -20px;
      position: relative;
      padding: 60pxm 0;
    }
    li {
      display: block;
    }
    a {
      line-height: 60pxm;
      color: #1b4e9b;
      font-size: 21pxm;
      font-family: @font2;
      text-align: center;
      display: block;
    }
    transition: transform 300ms ease-in-out;
    transform: translate3d(-100%,0,0);
  }
  .menu-open {
    .nav-bg,
    nav {
      transform: translate3d(0,0,0);
    }
    .bars {
      svg {
        fill: #1b4e9b;
      }
      svg {
        &:last-child {
          display: block;
        }
        &:first-child {
          display: none;
        }
      }
    }
  }
  .header {
    transition: background 200ms ease-in-out;
    position: fixed;
    height: 54pxm;
  }
  .scrolled .header {
    height: 54pxm;
  }
  
  .mobile-scrolled {
    .header {
      background: rgba(255,255,255,.8);
      height: 54pxm;
    }
    .bars svg {
      fill: #005ca9;
    }
  }
  .logo {
    width: 74pxm;
    height: 22pxm;
    top: 15pxm;
    left: 20pxm;
    svg {
      width: 74pxm;
      height: 22pxm;
    }
  }
  .hero {
    height: 246pxm;
    > div,
    > h1 {
      padding: 0 8%;
      font-size: 30pxm;
      line-height: 36 / 30;
      height: 246pxm;
    }
    &.big {
      > div,
      > h1 {
        font-size: 47pxm;
        line-height: 60 / 47;
      }
    }
  }
  .layer {
    padding: 42pxm 0;
  }
  .h2 {
    font-size: 30pxm;
    line-height: 36/30;
  }
  .wrap-intro {
    position: relative;
    margin: 36pxm 0 0 0;
    padding: 140pxm 0 0 0;
  }
  .bubble {
    width: 84pxm;
    height: 84pxm;
    z-index: 1;
    span {
      font-size: 10pxm;
      bottom: 10pxm;
    }
    &:before {
      width: 76pxm;
      height: 76pxm;
    }
  }
  .text {
    font-size: 40pxm;
    width: 40pxm;
    height: 40pxm;
    top: 4pxm;
    margin-left: -20pxm;
  }
  .bubble-2:after {
    background-size: 30pxm auto;
    background-position: center 28pxm;
  }
  .bubble-3:after {
    font-family: Arial;
    font-weight: 900;
    font-size: 44pxm;
    line-height: 1;
    top: 24pxm;
  }
  .bubble-1:after {
    background-size: 24pxm auto;
    background-position: center;
  }
  .wrap {
    width: 100%;
    padding: 0 12pxm;
  }
  .bubble-3 {
    top: 0;
    left: 50%;
    margin-left: 84pxm/-2;
  }
  .bubble-2 {
    top: 65pxm;
    left: 0;
  }
  .bubble-1 {
    top: 65pxm;
    left: auto;
    right: 0;
  }
  .scene-wrap,
  .hooks {
    display: none;
  }
  .circle {
    width: 278pxm;
    height: 278pxm;
    > div {
      width: 268pxm;
      height: 268pxm;
      margin-left: 268pxm/-2;
      margin-top: 268pxm/-2;
      img {
        width: 88pxm;
      }
    }
    &.small {
      width: 122pxm;
      height: 122pxm;
      > div {
        width: 116pxm;
        height: 116pxm;
        margin-left: 116pxm/-2;
        margin-top: 116pxm/-2;
      }
    }
  }
  .tip {
    font-size: 9pxm;
    line-height: 13/9;
    padding: 18pxm;
    width: 200pxm;
    margin-left: -100pxm;
    margin-top: 10pxm;
    &:before {
      margin-left: -6pxm;
      border-left: 6pxm solid transparent;
      border-right: 6pxm solid transparent;
      border-bottom: 10pxm solid #e5effe;
    }
  }
  .bubble-2 {
    .tip {
      margin-left: 0;
      left: 0;
      &:before {
        left: 84pxm/2;
      }
    }
  }
  .bubble-1 {
    .tip {
      margin-left: 0;
      right: 0;
      left: auto;
      &:before {
        margin-right: -6pxm;
        right: 84pxm/2;
        left: auto;
      }
    }
  }
  
  .layer-intro {
    height: auto;
    .circle {
      position: relative;
      margin: 0 auto (136pxm - 42pxm - 18pxm) auto;
      left: auto;
      right: auto;
      top: auto;
    }
  }
  .link {
    font-size: 14pxm;
    font-weight: 400;
    &:after {
      background-size: 38pxm auto;
      width: 64pxm;
      transform: translate3d(-9pxm,0,0);
    }
    &.back {
      &:after {
        transform: translate3d(9pxm,0,0) rotate(180deg);
      }
    }
  }
  .link-holder {
    margin-top: 56pxm;
    .link {
      margin-left: 64pxm/-2;
    }
  }
  .layer-about {
    padding-bottom: 0;
    .circle-1 {
      width: 206pxm;
      height: 206pxm;
      position: relative;
      top: auto;
      left: auto;
      margin: 36pxm 0 102pxm 20pxm;
      > div {
        width: 198pxm;
        height: 198pxm;
        margin: 198pxm/-2 0 0 198pxm/-2;
      }
    }
    .circle-21,
    .circle-2 {
      margin-top: -120pxm - 102pxm;
      margin-left: 165pxm;
      top: auto;
      left: auto;
    }
    .circle-3 {
      margin-top: -42pxm - 102pxm;
      margin-left: 6pxm;
      top: auto;
      left: auto;
    }
  }
  .about {
    font-size: 15pxm;
    line-height: 23/15;
    width: auto;
    padding: 0 8pxm;
    margin: 0;
  }
  .about-link {
    text-align: center;
    .link {
      margin: 0 0 0 64pxm/-2;
    }
  }
  .circle.big {
    width: 280pxm;
    height: 280pxm;
    > div {
      width: 270pxm;
      height: 270pxm;
      margin-left: 270pxm/-2;
      margin-top: 270pxm/-2;
    }
  }
  .post {
    margin: 0 8pxm;
    h3 {
      font-size: 20pxm;
      line-height: 36/20;
      margin: 0 0 12pxm 0;
    }
    .circle {
      position: relative;
    }
    .short {
      height: auto;
      margin: 280pxm/-2 0 0 0;
      width: auto;
      display: block;
      padding: 0;
      .in {
        padding: 280pxm/2 + 24pxm 18pxm 36pxm 18pxm;
        margin: 0;
        font-size: 15pxm;
        line-height: 30/15;
      }
    }
  }
  .layer-care {
    .post {
      .link-holder {
        position: static;
        margin: 36pxm 0 100pxm 0;
      }
    }
  }
  .post:nth-child(even) .short {
    padding: 0;
    .in {
      padding: 280pxm/2 + 24pxm 18pxm 36pxm 18pxm;
    }
  }
  .layer-blog {
    padding: 70pxm 0;
    .post {
      margin: 0 8pxm 66pxm 8pxm;
    }
  }
  .layer-taking {
    padding: 70pxm 0 30pxm 0;
    .circle {
      position: relative;
      top: auto;
      left: auto;
    }
    .circle-1 {
      width: 216pxm;
      height: 216pxm;
      margin: 0 0 0 8pxm;
      > div {
        width: 206pxm;
        height: 206pxm;
        margin-left: 206pxm/-2;
        margin-top: 206pxm/-2;
      }
    }
    .circle-2 {
      width: 142pxm;
      height: 142pxm;
      margin: -112pxm 0 36pxm 148pxm;
      > div {
        width: 132pxm;
        height: 132pxm;
        margin-left: 132pxm/-2;
        margin-top: 132pxm/-2;
      }
    }
  }
  .txt-1 {
    width: 36pxm;
  }
  .schema {
    transform: scale(1.25);
  }
  .layer-water {
    padding-bottom: 0;
    .circle {
      position: relative;
      top: auto;
      left: auto;
    }
    .circle-1 {
      width: 216pxm;
      height: 216pxm;
      margin: 48pxm 0 0 85pxm - 12pxm;
      > div {
        width: 206pxm;
        height: 206pxm;
        margin-left: 206pxm/-2;
        margin-top: 206pxm/-2;
      }
    }
    .circle-2 {
      width: 142pxm;
      height: 142pxm;
      margin: -112pxm 0 36pxm 8pxm;
      > div {
        width: 132pxm;
        height: 132pxm;
        margin-left: 132pxm/-2;
        margin-top: 132pxm/-2;
      }
    }
  }
  .layer-long {
    padding: 36pxm 0;
  }
  .h2.small {
    font-size: 18pxm;
    line-height: 30pxm;
    max-width: 100%;
  }
  .video {
    margin: 36pxm 0;
    width: 100%;
    background: #fff;
    position: relative;
    padding: 12pxm;
    .in {
      height: 150pxm;
    }
  }
  .play {
    width: 74pxm;
    height: 74pxm;
    margin-left: 74pxm / -2;
    margin-top: 74pxm / -2;
    &:after {
      border-top: 12pxm solid transparent;
      border-bottom: 12pxm solid transparent;
      border-left: 20pxm solid #fff;
      margin-left: 20pxm / -2 + 3pxm;
      margin-top: 12pxm / -1;
    }
  }
  form {
    z-index: 1;
    position: relative;
    margin: 0 8pxm;
    width: auto;
    .link {
      margin-right: 62pxm;
    }
  }
  .input {
    width: 100%;
    margin: 0 0 15pxm 0;
  }
  textarea,
  input[type="text"],
  input[type="email"] {
    height: 46pxm;
    font-size: 15pxm;
  }
  label {
    font-size: 15pxm;
  }
  .hero {
    &:after,
    &:before {
      height: 150pxm;
    }
  }
  .phone {
    font-size: 15pxm;
    padding: 100pxm 0;
    position: relative;
    b {
      font-size: 18pxm;
    }
  }
  .layer > .wrap > .h2 + p {
    font-size: 15pxm;
    line-height: 24/15;
    max-width: 100%;
    margin: 9pxm 0 18pxm 0;
  }
  .single {
    width: auto;
    font-size: 15pxm;
    line-height: 24/15;
    margin: 0 8pxm;
    h2 {
      font-size: 18pxm;
      line-height: 30pxm;
      margin: 36pxm 0;
    }
    .video {
      left: 0;
      margin-left: 0;
    }
  }
  .link-back {
    margin: 0 0 30pxm 0;
  }
  .gallery {
    margin: 36pxm 0;
    .image {
      padding: 0;
      width: 100%;
      margin: 0 0 12pxm 0;
    }
  }
  .layer-products {
    padding: 190pxm 0 60pxm 0;
    .circle {
      position: relative;
      left: auto;
      top: auto;
      margin: 0 8pxm;
    }
    .table {
      width: auto;
      font-size: 14pxm;
      line-height: 24pxm;
      margin: 134pxm 8pxm 0 8pxm;
      h2 {
        font-size: 20pxm;
        line-height: 36/20;
        margin: 0 0 40pxm 0;
      }
    }
    .cols {
      margin: 0 0 24pxm 0;
      padding: 0 0 18pxm 0;
      > div:first-child,
      > div:last-child {
        float: none;
      }
      > div {
        > div {
          padding: 3pxm 0;
        }
      }
      .up {
        width: 8pxm;
        position: relative;
        margin-top: -2pxm;
        margin: 0 0 0 2pxm;
        > div {
          font-size: 65%;
          height: 12pxm;
          bottom: 6pxm;
          &:first-child {
            top: -6pxm;
            bottom: auto;
          }
        }
      }
    }
  }
  .filters {
    top: 60pxm;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 8pxm;
  }
  .filter {
    width: auto; 
    min-width: 76pxm;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
    .current {
      font-size: 14pxm;
      line-height: 38pxm;
      height: 38pxm;
      padding: 0 24pxm 0 0;
      &:after {
        content: '';
        width: 7pxm;
        height: 7pxm;
        margin-top: -5pxm;
      }
    }
    .options {
      transform: translate3d(0,12pxm,0);
      > div {
        font-size: 14pxm;
        padding: 0 10pxm;
        line-height: 30pxm;
      }
    }
    &.big {
      min-width: 137pxm;
    }
  }
  .mobile-hide {
    display: none !important;
  }
  .zoom__arrow--next {
    -webkit-animation: pinchRight 1.6s cubic-bezier(.25,.46,.45,.94) 0s infinite;
    animation: pinchRight 1.6s cubic-bezier(.25,.46,.45,.94) 0s infinite;
  }
  .zoom__arrow--prev {
      -webkit-animation: pinchLeft 1.6s cubic-bezier(.25,.46,.45,.94) 0s infinite;
      animation: pinchLeft 1.6s cubic-bezier(.25,.46,.45,.94) 0s infinite;
  }
  .zoom__svg {
    transition: opacity 400ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    pointer-events: none;
    .translate3d(-50%,0,0);
    top: 20pxm;
    width: 34pxm;
    z-index: 1001;
    height: 55pxm;
    left: 50%;
    fill: #1b4e9b;
  }
  .mobile-schema {
    .image('schema.png');
    .background-contain;
    width: 280pxm;
    height: 142pxm;
    position: relative;
    margin: 0 auto 42pxm auto;
    cursor: pointer;
    &:after {
      .image('zoom.png');
      .background-contain;
      content: '';
      width: 60pxm;
      height: 60pxm;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -60pxm/2;
      margin-left: -60pxm/2;
    }
  }
  .layer-registration,
  .layer-contacts {
    padding-top: 56pxm;
  }
  .h2.small {
    .drop {
      top: 0;
      margin-top: -12pxm;
    }
  }
  .schema-close {
    transition: opacity 400ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    height: 54pxm;
    width: 62pxm;
    right: 0;
    top: 0;
    z-index: 1001;
    position: fixed;
    svg {
      fill: #1b4e9b;
      width: 24pxm;
      height: 24pxm;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -12pxm 0 0 -12pxm;
    }
  }
  .schema-pop {
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background: #fff;
    display: flex;
    align-items: center;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    img {
      margin: 0 20pxm;
      height: 60vh;
      width: auto;
    }
  }
  .schema-show {
    .schema-pop {
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
    }
    .zoom__svg,
    .schema-close {
      opacity: 1;
      pointer-events: all;
    }
  }
  .fl-container {
    width: 100%;
    margin-top: 60pxm;

    .wrapper {
      width: 210pxm;
      margin: 0;

      .mobile-lines {
        z-index: -1;
      }

      &:not(:last-child){
        margin-bottom: 50pxm;
      }
      .h3 {
        font-size: 13pxm;
        margin-bottom: 24pxm;

      }
    }
    .phone-mockup{
      width: 210pxm;
      height: 442pxm;
      border-radius: 25pxm;
      box-shadow: 30pxm 30pxm 99pxm rgba(0, 0, 0, 0.15);
      position: relative;
      z-index: 3;
      &__screen {
        width: 192pxm;
        height: 340pxm;
        border-radius: 12pxm;
        top: 44pxm;
      }

      &__cta {
        bottom: 75pxm;
      }
      &__cta-button {
        width: 148pxm;
        height: 38pxm;
        border-radius: 18pxm;
        font-size: 11pxm;
      }
    }
  }
}






@-webkit-keyframes pinchRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    20% {
        opacity: 1;
        -webkit-transform: translate3d(.3rem, 0, 0);
        transform: translate3d(.3rem, 0, 0)
    }
    40% {
        opacity: 1;
        -webkit-transform: translate3d(.6rem, 0, 0);
        transform: translate3d(.6rem, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(1.5rem, 0, 0);
        transform: translate3d(1.5rem, 0, 0)
    }
}

@keyframes pinchRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    20% {
        opacity: 1;
        -webkit-transform: translate3d(.3rem, 0, 0);
        transform: translate3d(.3rem, 0, 0)
    }
    40% {
        opacity: 1;
        -webkit-transform: translate3d(.6rem, 0, 0);
        transform: translate3d(.6rem, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(1.5rem, 0, 0);
        transform: translate3d(1.5rem, 0, 0)
    }
}

@-webkit-keyframes pinchLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-.3rem, 0, 0);
        transform: translate3d(-.3rem, 0, 0)
    }
    40% {
        opacity: 1;
        -webkit-transform: translate3d(-.6rem, 0, 0);
        transform: translate3d(-.6rem, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-1.5rem, 0, 0);
        transform: translate3d(-1.5rem, 0, 0)
    }
}

@keyframes pinchLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-.3rem, 0, 0);
        transform: translate3d(-.3rem, 0, 0)
    }
    40% {
        opacity: 1;
        -webkit-transform: translate3d(-.6rem, 0, 0);
        transform: translate3d(-.6rem, 0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-1.5rem, 0, 0);
        transform: translate3d(-1.5rem, 0, 0)
    }
}

@media (orientation: landscape) {
  .zoom__svg {
    display: none;
  }
}
